<div class="blog-header"><h1 class="blog-title">Welcome</h1>
<p class="lead blog-description">Your web edition Fizzbuzz is below.</p></div>
<div class="jumbotron" id="content"></div>


<script>

React.render(
	React.createElement(CommentBox, {url: "/fizzbuzz"}),
		document.getElementById('content')
	    );
</script> 
