<h1>Welcome#index</h1>
<p>Your web edition Fizzbuzz is below.</p>
<div id="content"></div>


<script>

React.render(
	React.createElement(CommentBox, {url: "/fizzbuzz"}),
		document.getElementById('content')
	    );
</script> 
